input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  --tw-ring-shadow: 0 0 #000 !important;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

:focus,
.focus-visible:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

// Multi select
.multiselect-search{
  border-radius: 4px !important;
}

.multiselect-tags-search{
    padding-left: 0px !important;
}

.multiselect.is-active{
    box-shadow: none !important;
    border-color: rgb(59, 129, 246) !important;
}

:root {
  --ms-radius: 4px;
  --ms-tag-bg: rgb(59, 129, 246);
  --ms-option-bg-selected: rgb(59, 129, 246);
  --ms-option-bg-selected-pointed: rgb(59, 129, 246);
  touch-action: pan-x pan-y;
  height: 100% 
}

input[type=file]::file-selector-button {
    border: 1px solid #4F8CF6;
    padding: 8px 10px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #4F8CF6;
    cursor: pointer;
    margin-right: 10px;
}

input[type=file]::file-selector-button:hover {
    background-color: #2464d1;
    border: 1px solid #2464d1;
}

.vue-tel-input {
  border: 1px solid #e2e8f0 !important;
  border-radius: 0.25rem !important;
  height: 38px !important;
}

.vue-tel-input-error {
  border: 1px solid #f43f5e !important;
}

.vti__dropdown-list.below{
  z-index: 11 !important;
}

.dp__select {
    color: #4F8CF6 !important;
}

.date_error {
    --dp-border-color: #dc3545 !important;
}

.freeze-table {
    height: auto;
    max-height: 400px !important;
 }

 .fixed-header {
    background-color: #F8FAFC;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(226 232 240);
    position: sticky;
    left: 0;
    z-index: 2;
 }

 .fixed-left {
    background: white;
    position: sticky;
    left: 0;
 }

 .header th {
    background-color: #F8FAFC;
    position: sticky;
    top: 0;
 }